Source: python-deploy-utils
Section: unknown
Priority: extra
Maintainer: Alexey Sveshniko <alexey.sveshnikov@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: python-deploy-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Useful tools for deploying python project on Debian/Ubuntu Linux
 <insert long description, indented with spaces>
